<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,736},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,626},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,516},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,406},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,296},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,186},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,76},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,920},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,810},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,700},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,626},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,552},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,442},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,332},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,886},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,812},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,738},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,628},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,186},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,112},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,554},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{70,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,480},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,406},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,332},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,222},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,924},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,850},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,776},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,702},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,628},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,518},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,444},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,370},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,296},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,76},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,222},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bcd9b5bd4afd90b4a7a791216e535b6$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
